---
import CooperatedProgram from "@components/cooperate/CooperatedProgram.astro";
import CooperateType from "@components/cooperate/CooperateType.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div>
    <CooperateType />
    <CooperatedProgram></CooperatedProgram>
  </div>
</Layout>
