---
import "../styles/global.css";
import Header from "@layouts/base/Header.astro";
import Footer from "./base/Footer.astro";

process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/cupx_logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>CupX</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />

    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    </style>
  </body>
</html>
